@import "tailwindcss";

@theme {
  --color-text-50: var(--text-50);
  --color-text-100: var(--text-100);
  --color-text-200: var(--text-200);
  --color-text-300: var(--text-300);
  --color-text-400: var(--text-400);
  --color-text-500: var(--text-500);
  --color-text-600: var(--text-600);
  --color-text-700: var(--text-700);
  --color-text-800: var(--text-800);
  --color-text-900: var(--text-900);
  --color-text-950: var(--text-950);

  --color-background-50: var(--background-50);
  --color-background-100: var(--background-100);
  --color-background-200: var(--background-200);
  --color-background-300: var(--background-300);
  --color-background-400: var(--background-400);
  --color-background-500: var(--background-500);
  --color-background-600: var(--background-600);
  --color-background-700: var(--background-700);
  --color-background-800: var(--background-800);
  --color-background-900: var(--background-900);
  --color-background-950: var(--background-950);

  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);

  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);
  --color-secondary-950: var(--secondary-950);

  --color-accent-50: var(--accent-50);
  --color-accent-100: var(--accent-100);
  --color-accent-200: var(--accent-200);
  --color-accent-300: var(--accent-300);
  --color-accent-400: var(--accent-400);
  --color-accent-500: var(--accent-500);
  --color-accent-600: var(--accent-600);
  --color-accent-700: var(--accent-700);
  --color-accent-800: var(--accent-800);
  --color-accent-900: var(--accent-900);
  --color-accent-950: var(--accent-950);

  --text-xs: 0.55rem;
  --text-sm: 0.75rem;
  --text-base: 1rem;
  --text-xl: 1.333rem;
  --text-2xl: 1.777rem;
  --text-3xl: 2.369rem;
  --text-4xl: 3.158rem;
  --text-5xl: 4.21rem;

  --font-heading: Fredoka;
  --font-body: Azeret Mono;

  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --background-color-custom-bg: #f7f7f8;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  body {
    @apply bg-custom-bg;
  }
  :root {
    --text-50: #f1f1f4;
    --text-100: #e4e3e8;
    --text-200: #c9c6d2;
    --text-300: #adaabb;
    --text-400: #928ea4;
    --text-500: #77718e;
    --text-600: #5f5b71;
    --text-700: #474455;
    --text-800: #302d39;
    --text-900: #18171c;
    --text-950: #0c0b0e;

    --background-50: #f1f1f3;
    --background-100: #e4e4e7;
    --background-200: #c8c8d0;
    --background-300: #adadb8;
    --background-400: #9292a0;
    --background-500: #777788;
    --background-600: #5f5f6d;
    --background-700: #474752;
    --background-800: #2f2f37;
    --background-900: #18181b;
    --background-950: #0c0c0e;

    --primary-50: #f1f1f4;
    --primary-100: #e4e3e8;
    --primary-200: #c8c7d1;
    --primary-300: #adabba;
    --primary-400: #928fa3;
    --primary-500: #76738c;
    --primary-600: #5f5c70;
    --primary-700: #474554;
    --primary-800: #2f2e38;
    --primary-900: #18171c;
    --primary-950: #0c0b0e;

    --secondary-50: #ece8fc;
    --secondary-100: #dad2f9;
    --secondary-200: #b4a4f4;
    --secondary-300: #8f77ee;
    --secondary-400: #6949e9;
    --secondary-500: #441ce3;
    --secondary-600: #3616b6;
    --secondary-700: #291188;
    --secondary-800: #1b0b5b;
    --secondary-900: #0e062d;
    --secondary-950: #070317;

    --accent-50: #ebe7fe;
    --accent-100: #d7cefd;
    --accent-200: #b09dfb;
    --accent-300: #886cf9;
    --accent-400: #613bf7;
    --accent-500: #390af5;
    --accent-600: #2e08c4;
    --accent-700: #220693;
    --accent-800: #170462;
    --accent-900: #0b0231;
    --accent-950: #060118;
  }
  .dark {
    --text-50: #0c0b0e;
    --text-100: #18171c;
    --text-200: #302d39;
    --text-300: #474455;
    --text-400: #5f5b71;
    --text-500: #77718e;
    --text-600: #928ea4;
    --text-700: #adaabb;
    --text-800: #c9c6d2;
    --text-900: #e4e3e8;
    --text-950: #f1f1f4;

    --background-50: #0c0c0e;
    --background-100: #17171c;
    --background-200: #2f2f37;
    --background-300: #464653;
    --background-400: #5e5e6e;
    --background-500: #75758a;
    --background-600: #9191a1;
    --background-700: #acacb9;
    --background-800: #c8c8d0;
    --background-900: #e3e3e8;
    --background-950: #f1f1f3;

    --primary-50: #0c0b0e;
    --primary-100: #18171c;
    --primary-200: #2f2e38;
    --primary-300: #474554;
    --primary-400: #5f5c70;
    --primary-500: #76738c;
    --primary-600: #928fa3;
    --primary-700: #adabba;
    --primary-800: #c8c7d1;
    --primary-900: #e4e3e8;
    --primary-950: #f1f1f4;

    --secondary-50: #070317;
    --secondary-100: #0e062d;
    --secondary-200: #1b0b5b;
    --secondary-300: #291188;
    --secondary-400: #3616b6;
    --secondary-500: #441ce3;
    --secondary-600: #6949e9;
    --secondary-700: #8f77ee;
    --secondary-800: #b4a4f4;
    --secondary-900: #dad2f9;
    --secondary-950: #ece8fc;

    --accent-50: #060118;
    --accent-100: #0b0231;
    --accent-200: #170462;
    --accent-300: #220693;
    --accent-400: #2e08c4;
    --accent-500: #390af5;
    --accent-600: #613bf7;
    --accent-700: #886cf9;
    --accent-800: #b09dfb;
    --accent-900: #d7cefd;
    --accent-950: #ebe7fe;
  }
}

@media (max-width: 640px) {
  .grid {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .fixed {
    position: absolute;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
